:root {
    --blue: #08A6E4;
    --red: #FB3B64;
    --green:#55DFB4;
}

* {
   margin: 0 auto;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #ffffff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.logo {
    color: var(--blue);
    font: normal normal 300 32px/37px Raleway;
    margin-left: 136px;
}


.menu {
    width: 900px;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    letter-spacing: 3.28px;
}


.menu a {
    font: normal normal bold 11px/15px "Open Sans";
    text-decoration: none;
    color:#A5A5A5 ;
}

.menu a:hover {
    color: black;
}

.menu li {
    padding: 28px;
}

.menu li:hover {

    border-bottom: 4px solid #08A6E4;
}

.opening {
    text-align: center;
}

.opening--title {
    font-family: Raleway, sans-serif;
    font-size: 57px;
    font-weight: normal;
    margin-top: 200px   ;
}

.opening--text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn--big {
    border-radius: 40px;
    padding: 22px 157px;
    background: #08A6E4;
    color: white;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;
}


.opening--background {
    max-width: 100%;
    height: auto;
}


.stats {
    height: 531px;
}

.stats--title {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: normal;
}

.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
}

.blue--circle {
    background: var(--blue);
}

.red--circle {
    background:var(--red);
}

.green--circle {
    background: var(--green);
}

.blue::after {
    content: "";
    background: url("../images/Person.svg");
    position: absolute;

}

.stats--content--container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;

}

.stats--post {
    box-sizing: border-box;
    padding: 173px;
    display:flex;
    flex-direction: column;
}

.stats--number  {
    font-weight: 800;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    letter-spacing: 6px;
    margin-top: 15px;
}

.stats--text {
    color: #A5A5A5;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}


.red--circle::after{
    content: "";
    background: url("../images/Person.svg");
    position: absolute;
    width: 44px;
    height: 52px;
    right: calc(80% + 15px);
}

.blue--circle::after{
    content: "";
    background: url("../images/Eye.svg");
    position: absolute;
    width: 65px;
    height: 37px;
    right: calc(47% + 1px);
    top: calc(168%);

}

.green--circle::after{
    content: "";
    background: url("../images/Catalog.svg");
    position: absolute;
    width: 52px;
    height: 48px;
    right: calc(13% + 1px);
    top: calc(168%);
}

.color-change{
    background: #f7f7f7;
}

.benefits--content--container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits--content--normal {
    background: white;
    display: flex;
    align-items: center;
    max-width: 70%;
    padding: 91px 35px;
}

.benefits--text {
    text-align: left;
}

.benefits--title {
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: normal;
}

.benefits--paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.content--red {
    margin-top: 105px;
    margin-bottom: 37px;
}

.content--red .benefits--text::after{
    content: "";
    position: absolute;
    width: 328px;
    height: 4px;
    background: var(--red);
}


.content--blue .benefits--text::after{
    content: "";
    position: absolute;
    width: 328px;
    height: 4px;
    background: var(--blue);
}


.content--blue {
    margin-bottom: 37px;
}

.benefits--content--double {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;

}

.benefits--content--double .benefits--text {
    flex-grow: 2;
    text-align: left;
}

.double-image {
    background: var(--green);
    width: auto;
    flex-grow: 1;
    align-items: center;
}

